<div class="row">
	<div class="col-xs-10 col-xs-offset-1">
		<hr/>
		<div class="footer-link text-center">
			<a href="/about/us" title="关于我们">关于我们</a>
			<a href="/about/contact" title="联系我们">联系我们</a>
			<a href="/user/feedback" title="意见反馈">意见反馈</a>
		</div>
        <div class="footer-sns text-center">
            <span>分享到：</span>
            <a href="http://weibo.com/" class="footer-sns-weibo hide-text"  title="新浪微博">新浪微博</a>
            <a href="qq.weixin.com" class="footer-sns-weixin hide-text" title="微信">微信</a>
            <a href="http://qq.com/" class="footer-sns-qqweibo hide-text" title="腾讯微博">腾讯微博</a>
            <a href="http://qzone.qq.com/" class="footer-sns-qzone hide-text" title="QQ空间">QQ空间</a>
        </div>
		<p class="copyright text-center">Copyright © 2016 duoshou.com All Rights Reserved | 京ICP备 00000000号-0</p>
	</div>
</div>
